html {
  min-height: 100%;
  min-width: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#topbarDiv {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #444444;
  box-shadow: 0 0.05rem 0.25rem 0 rgba(0, 0, 0, 0.35);
  width: 100%;
  overflow: hidden;
}

#searchForm {
  margin: 0.4rem 0.4rem 0.4rem 0.4rem;
  width: 100%;
  display: inline-flex;
  position: fixed;
}

#searchInputLabel {
  color: #ffffff;
  margin-left: 1rem;
  text-align: right;
}
#searchInput {
  border: none;
  width: 18rem;
  height: 2rem;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 0.2rem 0 0 0.2rem;
  border: 1px solid darken(#f5f5f5f5, 30%);
  background-color: #f5f5f5f5;
}

#searchbtn {
  border: none;
  cursor: pointer;
  margin-left: -0.3rem;
  padding: 0.32rem 0.4rem;
  border-radius: 0 0.2rem 0.2rem 0;
  background-color: #f5f5f5f5;
  border: 0.1rem solid #f5f5f5f5;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  color: none;
}

#searchbtn:hover {
  color: #f5f5f5f5;
  background: none;
  box-shadow: -0.01rem 0.01rem 0.05rem 0 rgba(0, 0, 0, 0.35);
}

#ctempDiv {
  margin: 0.4rem 1rem 0.4rem 0.4rem;
  width: 5%;
  z-index: 1;
}

#ctempbtn {
  cursor: pointer;
  display: inline-flex;
  padding: 0.2rem 0.8rem;
  border: 0.1rem solid #ffffff;
  margin: 0rem 0rem 0.3rem 0;
  border-radius: 0.12rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background: none;
}

#ctempbtn:hover {
  color: #000000;
  background-color: #ffffff;
}

#mainContent {
  display: block;
  text-align: center;
}

#location {
  margin: 0 0.8rem -4rem 0rem;
}
#locationText {
  font-size: 1.5rem;
}

#todayDiv {
  font-size: 4rem;
  margin: 0 0 -5rem 0;
}

#todayTempF {
  margin-top: 2.5rem;
}
#feelsLikeDiv {
  font-size: 1rem;
  margin: 0 0 0 0;
}

#feelsLike {
  display: inline-block;
}

#feelsLikeF {
  display: inline-block;
}

#minMax {
  text-align: center;
  margin: -1.8rem 0 2rem 0;
}

#maxTempDiv {
  display: inline;
  margin: 0 0.1rem 0 0;
}

#maxTemp {
  display: inline-block;
}

#maxTempF {
  display: inline-block;
}

#minTempDiv {
  display: inline;
  margin: 0 0 0 0.1rem;
}
#minTemp {
  display: inline-block;
}

#minTempF {
  display: inline-block;
}

#divHours {
  width: 90%;
  height: 8rem;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

#tableHours {
  height: 4rem;
  table-layout: fixed;
}

#tableHours tr {
  height: 1rem;
}

#tableHours td {
  width: 1rem;
  height: 1rem;
  white-space: nowrap;
  text-align: center;
}

#divDays {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

#tableDays {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#tableDays tr {
  text-align: center;
}
